#predictionsListView:focused{
	-fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
}

#sceneVBox{
	-fx-background-color: #FFF3BD;
}

#canvasStackPane {
	-fx-background-color: white;
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.5, 0.0, 0.0);
}

#predictionsListView{
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.5, 0.0, 0.0);
}

#winLossLabel{
	-fx-background-color: rgba(220,220,220,0.5);
	-fx-background-radius: 5;
	-fx-padding: 3 8 3 8;
	-fx-text-fill: #ffcf5c;
}

#toolsVBox {
	-fx-background-color: #E29F00;
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.3, 2.0, 0.0);
}

#penPane, #eraserPane, #clearPane, #savePane {
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0.5, 0.0, 0.0);
	-fx-border-color: rgba(0,0,0,0.1);
	-fx-border-width: 0 0 1 0;	
}

#penPane {
	-fx-border-width: 1 0 1 0;	
}

#clearPane:pressed, #savePane:pressed  {
	-fx-background-color: #faebd7;
}

.tools:hover {
	-fx-cursor: hand;
}


.button, .button:focused{
	-fx-text-fill: white;
	-fx-padding: 6 15 10 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 10 0, 0 0 7 0;
    -fx-background-radius: 12;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #916703 0%, #916703 100%),
        #E29F00
        #E29F00
        radial-gradient(center 50% 50%, radius 100%, #E29F00, #916703);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
}

.button:pressed{
	-fx-translate-y: 4;
	-fx-padding: 6 15 6 15;
	-fx-background-insets:0;
}

