@font-face {
    src: url("IndieFlower-Regular.ttf"),
}

@font-face {
    src: url("AmaticSC-Bold.ttf"),
}

#sceneVBox {
	-fx-background-color: #F8ECC4;
	-fx-background-radius: 10px;
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.5, 0.0, 0.0);
	-fx-opacity: 97%
}

.title {
	-fx-font-family: 'Indie Flower', cursive;
	-fx-font-style: normal;
	-fx-font-weight: 400;
	-fx-font-size: 32px;
}

#targetCategory{
	-fx-font-family: 'Indie Flower', cursive;
	-fx-font-style: normal;
	-fx-font-weight: 400;
	-fx-font-size: 24px;
}

#timer{
	-fx-font-family: 'Indie Flower', cursive;
	-fx-font-style: normal;
	-fx-font-weight: 400;
	-fx-font-size: 45px;
}

#predictionsTitle {
	-fx-background-color: #FFE5A7;
	-fx-background-radius: 10px 10px 0px 0px;
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.5, 0.0, 0.0);
	-fx-font-family: 'Indie Flower', cursive;
	-fx-font-style: normal;
	-fx-font-weight: 400;
	-fx-font-size: 22px;
	-fx-pref-width: 210px;
	-fx-min-height: 35px;
	-fx-alignment: center;
}

#predictionsListView{
	-fx-pref-width: 210px;
	-fx-font-family: 'Indie Flower', cursive;
    -fx-font-style: normal;
	-fx-font-weight: 400;
	-fx-font-size: 14.5px;
	-fx-pref-width: 210px;
	-fx-fixed-cell-size: 30.4px;
	-fx-border-color: white;
	-fx-pref-height: 308px;
}

#predictionsListView:focused{
	-fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
}

#canvasStackPane {
	-fx-background-color: white;
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.5, 0.0, 3.0);
	-fx-background-radius: 0px 0px 10px 10px;
}

#listVBox{
	-fx-background-color: white;
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.5, 0.0, 3.0);
	-fx-background-radius: 0px 0px 10px 10px;
	-fx-pref-width: 210px;
}

#toolsHBox {
	-fx-background-color: #FFE5A7;
	-fx-background-radius: 10px 10px 0px 0px;
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.5, 0.0, 0.0);
	}

#penPane, #eraserPane, #clearPane, #savePane, #soundPane, #colorPane {
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0.5, 0.0, 0.0);
	-fx-border-color: rgba(0,0,0,0.1);
	-fx-border-width: 0 1 0 0;	
	-fx-padding: 0px 5px 0px 5px;
	-fx-pref-width: 35px;
}

#penPane {
	-fx-border-width: 0 1 0 1;
}

.tools{
	-fx-translate-x: 2.5px;
}


#clearPane:pressed, #savePane:pressed, #soundPane:pressed  {
	-fx-background-color: #E29F00;
}

.tools:hover {
	-fx-cursor: hand;
}

#winLossLabel{
	-fx-background-color: rgba(220,220,220,0.5);
	-fx-background-radius: 5;
	-fx-padding: 3 8 3 8;
	-fx-text-fill: #ffcf5c;
    -fx-font-family: 'Indie Flower', cursive;
    -fx-font-style: normal;
	-fx-font-weight: 400;
	-fx-font-size: 52px;
}

#outcomeLabel{
	-fx-text-fill: black;
    -fx-font-family: 'Indie Flower', cursive;
    -fx-font-style: normal;
	-fx-font-weight: 400;
	-fx-font-size: 20px;
}

#helpMenuButton{
	-fx-background-radius: 10px;
    -fx-background-color: #E29F00;
    -fx-effect: dropshadow( gaussian , rgba(143,103,3,0.25) , 1,1,0,1 );
	-fx-border-radius: 10px;
	-fx-padding: 6 0 5 0;
}

#infoMenuItem{
	-fx-text-fill: black;
     -fx-font-family: 'Amatic SC', cursive;
	-fx-font-style: normal;
	-fx-font-weight: 700;
	-fx-font-size: 22px;
}
.button, .button:focused{
	-fx-text-fill: black;
    -fx-background-radius: 10px;
    -fx-background-color: #E29F00;
    -fx-effect: dropshadow( gaussian , rgba(143,103,3,0.25) , 1,1,0,1 );
	-fx-border-radius: 10px;
    -fx-font-family: 'Amatic SC', cursive;
	-fx-font-style: normal;
	-fx-font-weight: 700;
	-fx-font-size: 22px;
	-fx-pref-width: 110;
	-fx-padding: 6 0 5 0;
}

.button:pressed{
	-fx-translate-y: 4;
	-fx-padding: 6 0 5 0;
	-fx-background-insets:0;
}
