@font-face {
    src: url("IndieFlower-Regular.ttf"),
}

@font-face {
    src: url("AmaticSC-Bold.ttf"),
}

#loginVBox {
	-fx-background-color: #F8ECC4;
	-fx-background-radius: 10px;
	-fx-effect: dropshadow( gaussian , rgba(143,103,3,0.25) , 1,1,0,1 );
	-fx-opacity: 97%
}

.title {
	-fx-font-family: 'Indie Flower', cursive;
	-fx-font-style: normal;
	-fx-font-weight: 400;
}

.textField {
	-fx-pref-width: 180px;	
	-fx-background-color: #FFFFFF;
	-fx-opacity: 0.7;
	-fx-background-radius: 10px;	
	-fx-font-family: 'Indie Flower', cursive;
	-fx-font-style: normal;
	-fx-font-weight: 400;
	-fx-font-size: 16px;
}

#signInTitle{
	-fx-font-family: 'Indie Flower', cursive;
	-fx-font-style: normal;
	-fx-font-weight: 400;
	-fx-font-size: 32px;
	-fx-text-align: center;
}

.errorMessage{
	-fx-font-family: 'Indie Flower', cursive;
	-fx-font-style: normal;
	-fx-font-size: 20px;
}

.scroll-pane, .scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.username{
	-fx-font-family: 'Indie Flower', cursive;
	-fx-font-style: normal;
	-fx-font-weight: 400;
	-fx-font-size: 20px;
	-fx-display: flex;
	-fx-align-items: center;
}

.profileCard{
	-fx-spacing: -5px;
	-fx-alignment: top-center;
	-fx-border-color: rgba(0,0,0,0);
	-fx-border-radius: 5px;
	-fx-border-width:  5px;
	
}

.profileCard:hover{
	-fx-border-color: #E29F00;
	-fx-border-radius: 5px;
	-fx-border-width:  5px;
}

.deleteIcon:hover{
	-fx-scale-y:1.3;
	-fx-scale-x:1.3;
}

.registerButton:hover{
	-fx-scale-x: 1.1;
	-fx-scale-y: 1.1;
}

.increment-button > .increment-arrow, .decrement-button > .decrement-arrow{
-fx-background-color: black;
}

.increment-button:hover, .decrement-button:hover{
-fx-background-color: #7a5601;
}

.scroll-bar:horizontal{
	-fx-background-color: #E29F00;
	-fx-padding: -4px 0px -4px 0px;
	-fx-pref-height:15px;
}

.scroll-bar:horizontal .thumb{
	-fx-background-color: #7a5601;
	-fx-background-radius: 10px;
}

.iconButtons:hover{
	-fx-scale-y:1.1;
	-fx-scale-x:1.1;
}
.iconButtons, .iconButtons:focused{
	-fx-background-color: #E29F00;
	-fx-background-radius: 100px;
	-fx-pref-width: 40px;
	-fx-pref-height: 40px;
	-fx-padding: 6 0 6 0;
}

.iconButtons:pressed{
	-fx-translate-y: 3;
	-fx-padding: 6 0 5 0;
	-fx-background-insets:0;
}