@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Indie+Flower&display=swap');

#menuVBox {
	-fx-background-color: #F8ECC4;
	-fx-background-radius: 10px;
	-fx-effect: dropshadow( gaussian , rgba(143,103,3,0.25) , 1,1,0,1 );
	-fx-opacity: 97%
}


.mainMenuButton{
	-fx-pref-width: 125px;
	-fx-max-height: 20px;
	-fx-font-size: 24px;
}
