#menuVBox {
	-fx-background-color: #FFF3BD;
}

.button, .button:focused{
	-fx-text-fill: white;
	-fx-padding: 6 15 10 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 10 0, 0 0 7 0;
    -fx-background-radius: 12;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #916703 0%, #916703 100%),
        #E29F00
        #E29F00
        radial-gradient(center 50% 50%, radius 100%, #E29F00, #916703);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
}

.button:pressed{
	-fx-translate-y: 4;
	-fx-padding: 6 15 6 15;
	-fx-background-insets:0;
}

