@font-face {
    src: url("IndieFlower-Regular.ttf"),
}

@font-face {
    src: url("AmaticSC-Bold.ttf"),
}


#userCreationVBox {
	-fx-background-color: #F8ECC4;
	-fx-background-radius: 10px;
	-fx-opacity: 97%;
}
#penPane, #eraserPane, #clearPane, #colorPane {
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0.5, 0.0, 0.0);
	-fx-border-color: rgba(0,0,0,0.1);
	-fx-border-width: 0 1 0 0;	
	-fx-padding: 0px 5px 0px 5px;
	-fx-pref-width: 35px;
}
#clearPane:pressed{
	-fx-background-color: #E29F00;
}
#canvasStackPane {
	-fx-background-color: white;
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.5, 0.0, 3.0);
	-fx-background-radius: 0px 0px 10px 10px;
}
#toolsHBox {
	-fx-background-color: #FFE5A7;
	-fx-background-radius: 10px 10px 0px 0px;
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.5, 0.0, 0.0);
}
	
#penPane {
	-fx-border-width: 0 1 0 1;
}

.title {
	-fx-font-family: "Indie Flower", cursive;
	-fx-font-style: normal;
	-fx-font-weight: 400;
	-fx-font-size: 42px;
}

.subTitle{	
	-fx-font-family: "Indie Flower", cursive;
	-fx-font-style: normal;
	-fx-font-weight: 400;
	-fx-font-size: 24px
}

.errorMessage{
	-fx-font-family: 'Indie Flower', cursive;
	-fx-font-style: normal;
	-fx-font-size: 20px;
}

.textFieldLabel{
	-fx-font-family: 'Indie Flower', cursive;
	-fx-font-style: normal;
	-fx-font-weight: 400;
	-fx-font-size: 24px;
	-fx-display: flex;
	-fx-align-items: center;
	-fx-pref-width: 120px;
}

.textField{
	-fx-pref-width: 250px;	
	-fx-background-color: #FFFFFF;
	-fx-opacity: 0.5;
	-fx-background-radius: 10px;	
	-fx-font-family: 'Indie Flower', cursive;
	-fx-font-style: normal;
	-fx-font-weight: 400;
	-fx-font-size: 20px;
	-fx-display: flex;
	-fx-align-items: center;
}


.button, .button:focused{
	-fx-text-fill: black;
    -fx-background-radius: 10px;
	-fx-background-radius: 15px;
    -fx-font-family: 'Amatic SC', cursive;
	-fx-font-style: normal;
	-fx-font-weight: 700;
	-fx-font-size: 22px;
	-fx-pref-width: 130px;
	-fx-pref-height:35px;
	-fx-padding: 8 0 12 0;
    -fx-background-insets: 0,0 0 6 0, 0 0 7 0, 0 0 7 0;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #b58004 0%, #b58004 100%),
        #cc9208,
        #E29F00,
        radial-gradient(center 50% 50%, radius 100%, #E29F00, #de9c02);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
}

.button:pressed{
	-fx-padding: 11 0 8.5 0;
	-fx-background-insets: 4 0 0 0,4 0 1 0, 4 0 1 0, 4 0 1 0;
}

.button:hover, .iconButtons:hover{
	-fx-scale-y:1.1;
	-fx-scale-x:1.1;
}