@font-face {
    src: url("IndieFlower-Regular.ttf"),
}

@font-face {
    src: url("AmaticSC-Bold.ttf"),
}

#userStatsVBox {
	-fx-background-color: #F8ECC4;
	-fx-background-radius: 10px;
	-fx-effect: dropshadow( gaussian , rgba(143,103,3,0.25) , 1,1,0,1 );
	-fx-opacity: 97%
}

.statLabel {
    -fx-font-family: 'Indie Flower';
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 21px;
    -fx-line-height: 32px;
    -fx-text-align: right;
}

#statsTitleLabel {
    -fx-font-family: 'Indie Flower';
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 42px;
    -fx-line-height: 61px;
    -fx-text-align: center;
}

.button, .button:focused{
	-fx-text-fill: black;
    -fx-background-radius: 10px;
    -fx-background-color: #E29F00;
    -fx-effect: dropshadow( gaussian , rgba(143,103,3,0.25) , 1,1,0,1 );
	-fx-border-radius: 10px;
    -fx-font-family: 'Amatic SC', cursive;
	-fx-font-style: normal;
	-fx-font-weight: 700;
	-fx-font-size: 22px;
	-fx-padding: 6 0 5 0;
}

.button:pressed{
	-fx-translate-y: 4;
	-fx-padding: 6 0 5 0;
	-fx-background-insets:0;
}

#menuButton {
	-fx-pref-width: 125px;
	-fx-max-height: 20px;
	-fx-font-size: 24px;
}

.iconButtons, .iconButtons:focused{
	-fx-background-color: #E29F00;
	-fx-background-radius: 100px;
	-fx-pref-width: 40px;
	-fx-pref-height: 40px;
}

.iconButtons:pressed{
	-fx-translate-y: 4;
	-fx-padding: 6 0 5 0;
	-fx-background-insets:0;
}
