@font-face {
    src: url("IndieFlower-Regular.ttf"),
}

@font-face {
    src: url("AmaticSC-Bold.ttf"),
}

@font-face {
    src: url("Kalam-Regular.ttf"),
}

#userStatsVBox {
	-fx-background-color: #F8ECC4;
	-fx-background-radius: 10px;
	-fx-effect: dropshadow( gaussian , rgba(143,103,3,0.25) , 1,1,0,1 );
	-fx-opacity: 97%
}

.statLabel {
    -fx-font-family: 'Indie Flower';
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 28px;
    -fx-line-height: 32px;
    -fx-text-align: right;
}

#statsTitleLabel {
    -fx-font-family: 'Indie Flower';
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 42px;
    -fx-line-height: 61px;
    -fx-text-align: center;
}

.button, .button:focused{
	-fx-text-fill: black;
    -fx-background-radius: 10px;
	-fx-background-radius: 15px;
    -fx-font-family: 'Amatic SC', cursive;
	-fx-font-style: normal;
	-fx-font-weight: 700;
	-fx-font-size: 22px;
	-fx-pref-width: 140px;
	-fx-pref-height:35px;
	-fx-padding: 8 0 12 0;
    -fx-background-insets: 0,0 0 6 0, 0 0 7 0, 0 0 7 0;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #b58004 0%, #b58004 100%),
        #cc9208,
        #E29F00,
        radial-gradient(center 50% 50%, radius 100%, #E29F00, #de9c02);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
}

.button:pressed{
	-fx-padding: 11 0 8.5 0;
	-fx-background-insets: 4 0 0 0,4 0 1 0, 4 0 1 0, 4 0 1 0;
}

.button:hover, .iconButtons:hover{
	-fx-scale-y:1.1;
	-fx-scale-x:1.1;
}


.iconButtons, .iconButtons:focused{
	-fx-background-color: #E29F00;
	-fx-background-radius: 100px;
	-fx-pref-width: 40px;
	-fx-pref-height: 40px;
	-fx-padding: 6 0 6 0;
}

.iconButtons:pressed{
	-fx-translate-y: 3;
	-fx-padding: 6 0 5 0;
	-fx-background-insets:0;
}

.default-color0.chart-pie {
   -fx-pie-color: orange;
}

.default-color1.chart-pie {
   -fx-pie-color: #FFA071;
}

.chart-legend {
   -fx-background-color: #F8ECC4;
   -fx-font-family: 'Indie Flower';
   -fx-font-size: 24px;
   -fx-background-radius: 20px;
}

.chart-pie-label {
    -fx-fill: black;
    -fx-font-family: 'Indie Flower';
    -fx-font-size: 20px;
}

#pieChartHBox {
	-fx-background-color: #F8DF95;
	-fx-background-radius: 30px;
	-fx-effect: dropshadow(gaussian, rgba(143,103,3,0.25) , 1,1,0,1 );
}

#noGamesLabel {
    -fx-font-family: 'Indie Flower';
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 28px;
}

.tooltip {
    -fx-show-delay: 0ms;
    -fx-font-family: "Kalam";
    -fx-font-size: 21px;
}