@font-face {
    src: url("IndieFlower-Regular.ttf"),
}

@font-face {
    src: url("AmaticSC-Bold.ttf"),
}

#sceneVBox {
	-fx-background-color: #F8ECC4;
	-fx-background-radius: 10px;
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.5, 0.0, 0.0);
	-fx-opacity: 97%
}

#titleLabel {
	-fx-font-family: 'Indie Flower', cursive;
	-fx-font-style: normal;
	-fx-font-weight: 400;
	-fx-font-size: 30px;
}


#chosenWordLabel {
	-fx-font-family: 'Indie Flower', cursive;
	-fx-font-style: normal;
	-fx-font-weight: 400;
	-fx-font-size: 24px;
}

#wordListView {
	-fx-font-family: 'Indie Flower', cursive;
    -fx-font-style: normal;
	-fx-font-weight: 400;
	-fx-font-size: 20px;
	-fx-pref-width: 250px;
	-fx-fixed-cell-size: 45px;
	-fx-border-color: white;
	-fx-pref-height: 350px;
	-fx-background-radius: 8px;
	-fx-border-radius: 8px;
}
.leaderboard{
	-fx-font-family: 'Indie Flower', cursive;
    -fx-font-style: normal;
	-fx-font-weight: 400;
	-fx-font-size: 20px;
	-fx-fixed-cell-size: 45px;
	-fx-border-color: white;
	-fx-background-radius: 8px;
	-fx-border-radius: 8px;
}
.leaderboardlabel{
	-fx-font-family: 'Indie Flower', cursive;
    -fx-font-style: normal;
	-fx-font-weight: 400;
	-fx-font-size: 24px;
}
#wordListView:focused {
	-fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
}

#listVBox{
	-fx-background-color: white;
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.5, 0.0, 3.0);
	-fx-background-radius: 8px 8px 8px 8px;
	-fx-pref-width: 250px;
}

#changeLeaderBoardMenuButton , #changeLeaderBoardMenuButton:focused{
	-fx-text-fill: black;
    -fx-background-radius: 10px;
	-fx-background-radius: 15px;
	-fx-padding: 8 0 12 0;
    -fx-background-insets: 0,0 0 6 0, 0 0 7 0, 0 0 7 0;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #b58004 0%, #b58004 100%),
        #cc9208,
        #E29F00,
        radial-gradient(center 50% 50%, radius 100%, #E29F00, #de9c02);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
}
.menuitem{
	 -fx-font-family: 'Amatic SC', cursive;
	-fx-font-style: normal;
	-fx-font-weight: 700;
	-fx-font-size: 22px;
}
.button, .button:focused{
	-fx-text-fill: black;
    -fx-background-radius: 10px;
	-fx-background-radius: 15px;
    -fx-font-family: 'Amatic SC', cursive;
	-fx-font-style: normal;
	-fx-font-weight: 700;
	-fx-font-size: 22px;
	-fx-pref-width: 150px;
	-fx-pref-height:35px;
	-fx-padding: 8 0 12 0;
    -fx-background-insets: 0,0 0 6 0, 0 0 7 0, 0 0 7 0;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #b58004 0%, #b58004 100%),
        #cc9208,
        #E29F00,
        radial-gradient(center 50% 50%, radius 100%, #E29F00, #de9c02);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
}

.button:pressed, #changeLeaderBoardMenuButton:pressed{
	-fx-padding: 11 0 8.5 0;
	-fx-background-insets: 4 0 0 0,4 0 1 0, 4 0 1 0, 4 0 1 0;
}


#searchButton, #searchButton:hover {
	-fx-pref-width: 30;
	-fx-pref-height: 30;
	-fx-cursor: hand;
}

#searchTextField {
    -fx-background-radius: 20;
	-fx-font-family: 'Indie Flower', cursive;
	-fx-font-size: 16px;
	-fx-font-style: normal;
}

#noWordsLabel {
    -fx-font-family: 'Indie Flower', cursive;
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 20px;
}

#filterLabel {
    -fx-font-family: 'Indie Flower', cursive;
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 24px;
}

.button:hover, .iconButtons:hover, #changeLeaderBoardMenuButton:hover{
	-fx-scale-y:1.1;
	-fx-scale-x:1.1;
}

.list-cell:even {
    -fx-background-color: white;
}

.list-cell:odd {
    -fx-background-color: white;
}

.list-cell:even:hover {
    -fx-border-color: #F8DF95;
}

.list-cell:odd:hover {
    -fx-border-color: #F8DF95;
}

.list-cell:selected {
    -fx-background-color: #F8DF95;
    -fx-text-fill: black;
}