@font-face {
    src: url("IndieFlower-Regular.ttf"),
}

@font-face {
    src: url("AmaticSC-Bold.ttf"),
}

#sceneVBox {
	-fx-background-color: #F8ECC4;
	-fx-background-radius: 10px;
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.5, 0.0, 0.0);
	-fx-opacity: 97%
}

#titleLabel {
	-fx-font-family: 'Indie Flower', cursive;
	-fx-font-style: normal;
	-fx-font-weight: 400;
	-fx-font-size: 30px;
}

#chosenWordLabel {
	-fx-font-family: 'Indie Flower', cursive;
	-fx-font-style: normal;
	-fx-font-weight: 400;
	-fx-font-size: 24px;
}

#wordListView {
	-fx-font-family: 'Indie Flower', cursive;
    -fx-font-style: normal;
	-fx-font-weight: 400;
	-fx-font-size: 20px;
	-fx-pref-width: 250px;
	-fx-fixed-cell-size: 45px;
	-fx-border-color: white;
	-fx-pref-height: 350px;
}

#wordListView:focused {
	-fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
}

.button, .button:focused{
	-fx-text-fill: black;
    -fx-background-radius: 10px;
    -fx-background-color: #E29F00;
    -fx-effect: dropshadow( gaussian , rgba(143,103,3,0.25) , 1,1,0,1 );
	-fx-border-radius: 10px;
    -fx-font-family: 'Amatic SC', cursive;
	-fx-font-style: normal;
	-fx-font-weight: 700;
	-fx-font-size: 22px;
	-fx-pref-width: 110;
	-fx-padding: 6 0 5 0;
}

.button:pressed{
	-fx-translate-y: 4;
	-fx-padding: 6 0 5 0;
	-fx-background-insets:0;
}

#searchButton, #searchButton:hover {
	-fx-pref-width: 30;
	-fx-pref-height: 30;
	-fx-cursor: hand;
}